<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-commerce Home</title>

    <link rel="icon" type="image/x-icon" href="../../../../public/favicon/Screenshot 2024-11-29 013200.png">   
  
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <style>
   .dot-active {
    background-color: antiquewhite;
   }
    
  </style>
 
  <script defer  src="scripts/bannerImgChange.js"> </script>    

</head>
<body class="bg-yellow-100">
 
  <!-- Header -->   
  <%- include("partials/header") %>     


  <!-- Main Content -->
  <main> 
    <!-- Banner -->                                                      
    <div class="relative bg-red-200 banner h-96"> 
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 h-full">
        <div class="absolute inset-0">
        <% if (banners && banners.length > 0 && banners[0].image && banners[0].image.data) { %>
            <img id="banner-image" src="<%= banners[0].image.data %>" alt="Banner Image" class="w-full h-full object-cover"> 
        <% } else { %>
            <p>No banner images available</p>
        <% } %>
         
      </div>
        <div class="absolute inset-0 bg-black opacity-40"></div>
        <div class="relative z-10 flex items-center justify-center h-full text-center">
          <div>
            <h2 class="text-3xl font-extrabold text-white">Hexagonal Tapestry</h2>
            <p class="mt-2 text-lg text-gray-300">Change Mood in All Directions with Fashion Tapestry.</p>
            <a href="/products" class="mt-4 inline-block bg-yellow-400 text-white px-6 py-3 rounded-lg">Shop Now</a>
          </div>
        </div>
      </div>
   
    </div>
    
   
 
     <section class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8"> 
      <% categoryProducts.forEach(({ category, products }) => { %>
        <% if ( products.length > 0  ) { %>
          <div class="mb-12 mt-5" >
            <h2 class="text-2xl font-extrabold text-gray-900 mt-5"> <%= category.name %></h2>
            <div class="mt-6 grid grid-cols-2 lg:grid-cols-4 gap-6">
              <% products.forEach(product => { %>
                <a href="/product/<%= product._id %>">
                <div class="bg-white rounded-lg shadow-md p-4  max-h-96 flex flex-col" >   
                  <img src="<%= product.images[0] %>" alt="<%= product.title %>" class="w-full h-44 object-cover">
                  <h3 class="text-lg font-semibold mt-4"><%= product.title %></h3>
                  <p class="text-gray-900 overflow-hidden text-ellipsis"><%= product.titleDescription %></p>
                  <p class="text-gray-600 overflow-hidden text-ellipsis" ><%= product.productDescription %></p>
                  <p class="text-lg font-bold"> 
                    <% if (product.sizes.length > 0 && product.sizes[0].price) { %>
                      ₹<%= product.sizes[0].discountedPrice %>
                    <% } else { %>
                      Price not available
                    <% } %>
                  </p>
                </div> 
                </a>
              <% }) %>  
            </div>
          </div>
        <% } %>
      <% }) %>
    </section> 
 

    
  </main>

  <!-- Footer -->
  <%- include("partials/footer") %>

  <script>

const bannerImage = document.getElementById("banner-image") ;

let current = 0;

let banner1 = '<%= banners[0] ? banners[0].image.data : "" %>';
let banner2 = '<%= banners[1] ? banners[1].image.data : "" %>';
let banner3 = '<%= banners[2] ? banners[2].image.data : "" %>';

let banner = [];
if(banner1){
    banner.push(banner1) ;
}
if(banner2){
    banner.push(banner2) ;
}
if(banner3){
    banner.push(banner3) ;
}

function setBanner() {
    bannerImage.src = banner[current] ; 
    current = (current + 1) % banner.length ;  
}

// Set the interval to call setBanner every 4 seconds (4000 ms) ; 
setBanner();
setInterval( () => { setBanner(); }, 4000) ;  

 

 

  </script>
    
</body> 
</html>